parameters:
	ignoreErrors:
		-
			message: '#^Class App\\Entity\\ExchangeRate has an uninitialized readonly property \$id\. Assign it in the constructor\.$#'
			identifier: property.uninitializedReadonly
			count: 1
			path: src/Entity/ExchangeRate.php

		-
			message: '#^Property App\\Entity\\ExchangeRate\:\:\$id is never written, only read\.$#'
			identifier: property.onlyRead
			count: 1
			path: src/Entity/ExchangeRate.php

		-
			message: '#^Instanceof between App\\Validator\\Pair and App\\Validator\\Pair will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Validator/PairValidator.php

		-
			message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/bootstrap.php
